# Editor config - same same default editor settings
# http://editorconfig.org

# this is the top most config?
root = true

# unix newlines? for every file?
[*]
end_of_line = lf
insert_final_newline = true

# charset
[*.{js,py,html,css,scss}]
charset = utf-8

# indentation
[*.{py,html}]
indent_style = space
indent_size = 4

[*.{js,css,scss}]
indent_style = space
inent_size = 2
