<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>Slots accessed that have no propid</title>
    <style>
      table, th, td {
      border: 1px solid gray;
      padding: 5px;
      text-align:left
      }
      table {
      border-spacing: 0px;
      }
</style>
</head>
<body>


<h2>Empty Slots </h2>
<em>Listing {{ slot_list|length }} slot. (limit to {{ limit }})</em>


<p><em>Use the admin interface to modify content. </em></p>


{#<p> {{ schedule }} </p> #}
<table border="1" >
  <tr>
    <th>Telescope</th>
    <th>Date</th>
  </tr>
  {% for slot in slot_list %}
  <tr>
    <td> {{ slot.telescope }} </td>
    <td> {{ slot.obsdate }} </td>
  </tr>

  {% empty %}
  <tr>
    <td>None</td>
    <td><br /></td>
  </tr>
  {% endfor %}  
</table>
</body>
</html>
