<h1>Full Schedule </h1>

<p>
  <em>Use the admin interface to modify content. </em>
</p>

{#<p> {{ schedule }} </p> #}
<table border="1" >
  <tr>
    <th>Telescope</th>
    <th>Date (YYYY-MM-DD)</th>
    <th>PropId</th>
  </tr>
  {% for slot in slot_list %}
  <tr>
    <td> {{ slot.telescope }} </td>
    <td> {{ slot.obsdate }} </td>
    <td> {{ slot.propid}} </td>
  </tr>

  {% empty %}
  <tr>
    <td><br /></td>
    <td>No images in the list</td>
    <td><br /></td>
  </tr>
  {% endfor %}  
</table>
