{% load staticfiles %}
{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "water/style.css" %}" />
    <link rel="icon" type="image/jpg" href="{% static "water/favicon.ico" %}" /> 
    <title>Schedule</title>
    <style>
      table, th, td {
      border: 1px solid gray;
      padding: 5px;
      text-align:left
      }
      table {
      border-spacing: 0px;
      }
</style>
</head>
<body>


<h2>{{ title }} Schedule </h2>
<em>Listing {{ slot_list|length }} slots. (limit to {{ limit }})</em>

<p><em>Use the admin interface to modify content. </em></p>

{#<p> {{ schedule }} </p> #}
{% render_table slot_list %}

{% comment %}
<table>
  {% for slot in slot_list %}
  <tr>
    <td></td>
  </tr>
  {% endfor %}
</table>
{% endcomment %}

</body>
</html>
