{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>Slots accessed that have no propid</title>
    <style>
      table, th, td {
      border: 1px solid gray;
      padding: 5px;
      text-align:left
      }
      table {
      border-spacing: 0px;
      }
</style>
</head>
<body>


<h2>Empty Slots </h2>
<em>Listing {{ slot_list|length }} slots./em>


{#<p> {{ schedule }} </p> #}

{% render_table slot_list %}

</body>
</html>
