{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>Schedule</title>
    <style>
      table, th, td {
      border: 1px solid gray;
      padding: 5px;
      text-align:left
      }
      table {
      border-spacing: 0px;
      }
</style>
</head>
<body>


<h2>{{ title }} Schedule for today </h2>
<em>Listing {{ object_list|length }} slots.</em>


<p><em>Use the admin interface to modify content. </em></p>


{#<p> {{ schedule }} </p> #}
{% render_table object_list %}
</body>
</html>
