<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>Schedule</title>
    <style>
      table, th, td {
      border: 1px solid gray;
      padding: 5px;
      text-align:left
      }
      table {
      border-spacing: 0px;
      }
</style>
</head>
<body>


  <h2>{{ title }}</h2>


  <dl>
    <dt>Observation Date</dt>   <dd>{{ slot_list.0.obsdate }}</dd>
    <dt>Telescope</dt>   <dd>{{ slot_list.0.telescope }}</dd>
    <dt>PropID</dt>   <dd>{{ slot_list.0.propid }}</dd>
    <dt>PI Name</dt>   <dd>{{ slot_list.0.pi_name }}</dd>
    <dt>PI Affiliation</dt>   <dd>{{ slot_list.0.pi_affiliation }}</dd>
  </p>

</body>
</html>
