<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>TADA files</title>
</head>
<body>
  
  <em>
    List of {{ tada_images|length }} files.
    (no more than {{ limit_count }} will ever be displayed)
  </em>

  <table border="1">
    <tr>
      <th>Reference</th>
      <th>Source Path (dtacqnam)</th>
      <th>Date Obs</th>
    </tr>

    {% for im,p,do in tada_images %}
    <tr>
      <td><a href="{% url 'siap:detail' im %}">{{ im }}</a></td>
      <td>{{ p }}</td>
      <td>{{ do|date:"SHORT_DATE_FORMAT" }}</td>
    </tr>
    {% empty %}
    
    <tr>
      <td>No images in the list</td>
      <td><br /></td>
      <td><br /></td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
