{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en"> 
<head>
  <link rel="stylesheet" href="style.css" />
  <title>Provisional files</title>
    <style>
      table, th, td {
      border: 1px solid gray;
      padding: 5px;
      text-align:left
      }
      table {
      border-spacing: 0px;
      }
</style>  
</head>
<body>

  {% if delcnt > 0 %}
  <p>(Deleted {{ delcnt }} files)</p>
  {% endif %}
  <h2>Provisional archive files.</h2>
  <em>Listing {{ fitname_list|length }} files.</em>

  <p>
    <a href="{% url 'provisional:stuff' %}">
      Load from query on TADA filenames
    </a>
  </p>

{% render_table fitname_list %}  



</body>
</html>
