{% load staticfiles %}
{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en"> 
<head>
  <link rel="stylesheet" href="{% static "provisional/style.css" %}" />
  <link rel="icon" type="image/jpg" href="static/favicon.ico" /> 
  <title>Provisional files</title>
</head>
<body>
  {% if delcnt > 0 %}
  <p>(Deleted {{ delcnt }} files)</p>
  {% endif %}
  <h2>Provisional archive files. ({{ dbhost }})</h2>
  <em>Listing {{ fitname_list|length }} files.</em>

  <p>
    <a href="{% url 'provisional:stuff' %}">
      Load from query on TADA filenames
    </a>
  </p>

  <p>
    <a href="{% url 'provisional:rollback' %}">
      Delete all files that are in provisional list from  the Archive
      (and the provisional list).
    </a>
  </p>

{% render_table fitname_list %}  



</body>
</html>
