<!DOCTYPE html>
<html lang="en"> 
<head>
  <link rel="stylesheet" href="style.css" />
  <title>Index</title>
</head>
<body>

  {% if delcnt > 0 %}
  <p>(Deleted {{ delcnt }} files)</p>
  {% endif %}
  <h2>Provisional archive files.</h2>
  <em>Listing {{ fitname_list|length }} files. (limit to {{ limit }})</em>
  

<table border="1">
  <tr>
    <th><a href="{% url 'provisional:rollback' %}">Del</a></th>
    <th>Reference</th>
    <th>Source Path (dtacqnam)</th>
  </tr>
  {% for fn in fitname_list %}
  <tr>
    <td>
      <a href="{% url 'provisional:delete' fn.pk %}">X</a>
    <td>{{ fn.pk }}</td>
    <td>{{ fn.source }}</td>
  </tr>
  {% empty %}
  <tr>
    <td><br /></td>
    <td>No images in the list</td>
    <td><br /></td>
  </tr>
  {% endfor %}
</table>

  <p>
    <a href="{% url 'provisional:stuff' %}">
      Load from query on TADA filenames
    </a>
  </p>


</body>
</html>
