<div class="container">
    <div class="form-head row">
        <div class="col-xs-12 col-md-6">
            <h1>NOAO Science Archive</h1>
            <p class="lead">Raw and reduced data from NOAO telescopes and instruments</p>
        </div>
        <div class="col-xs-12 col-md-6 text-right">
            <div class="form-inline">
                <label class="form-group">Search wihin collections:
                    <select class="form-control" id="search-collections" name="collections">
                        <option value="all">All Holdings</option>
                        <option value="my">My Collection</option>
                        <option value="">Decam...</option>
                    </select>
                </label>
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </div>
</div>
