{% extends 'base.html' %}
{% load i18n static %}

{% block head_title %}NOAO Archive Search{% endblock %}
    {% block extra_head %}
        <!--<link rel="stylesheet" href="{% static "natica/static/css/search.css" %}" type="text/css" media="screen">-->
        <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}" type="text/css" media="screen">
        <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=js&amp;skin=sunburst"></script>
    {% endblock %}

    {% block extra_footer %}
        {% for js in jsResources %}
        <script type="text/javascript" src="{% get_static_prefix %}natica/dist/{{js}}"></script> 
        {% endfor %}
    {% endblock %}

    {% block body %}
    <div id="content"></div>
{% endblock %}

