{% extends 'base.html' %}
{% load i18n static %}


    {% block extra_head %}
        <link rel="stylesheet" href="{% static "natica/static/css/search.css" %}" type="text/css" media="screen">
        <link rel="stylesheet" href="{% static "font-awesome/css/font-awesome.min.css" %}" type="text/css" media="screen">
        <script type="text/javascript" src="{% static "vue/dist/vue.js" %}"></script>
    {% endblock %}

    {% block extra_footer %}
    <script type="text/javascript" src="{% static "natica/static/js/search.js" %}"></script>
    {% endblock %}

{% block body %}
    {% include '_search_form.html' %}
{% endblock %}

